<header>
<a class="hidden" href="/"><img class="logo" src="/logobig.png"></a>
<div class="login-register">
<% if(!logged) { %>
	<button class="login-btn auth">Login or Sign Up</button>
<% } else { %>
	<h3 class="username"><%= user %></h3>
	<a class="new-post" href="/posts/new"><button>New Post!</button></a>
	<a href="/sessions/logout"><button>Logout</button></a>
<% } %>
</div>
<div class="login-background">
	<div class="login">
		<div class="login-container">
			<div class="col">
				<h2>REGISTER</h2>
				<form action="/sessions/register" method="POST">
				   <input type="text" name="username" placeholder="Username"><br>
				   <input type="password" name="password" placeholder="Password"><br>
				   <button>Register</button>
				</form>
			</div>
			<hr>
			<div class="col">
				<h2>LOGIN</h2>
				<form  action="/sessions/login" method="POST">
				   <input type="text" name="username" placeholder="Username"><br>
				   <input type="password" name="password" placeholder="Password"><br>
				   <button>Login</button>
				</form>
			</div>
		</div>
	</div>
</div>
</header>