body {
	font-family: verdana;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 50px;
}

a {
	color: black;
}

.index-post {
	display: flex;
	width: 100%;
	padding: 20px;
	overflow: auto;
}

.index-post:nth-child(odd) {
    background: #f1f1f1;
}

.post-title {
	font-size: 32px;
	color: black;
	padding-right: 5px;
	border-bottom: 1px solid grey;
	margin-bottom: 5px;
}

.post-info {
	align-items: center;
}

.poster {
	font-size: 13px;
	color: grey;
}

.arrow {
	display: block;
	transform: rotate(180deg);
	text-align: center;
	height: 20px;
	margin: 5px 20px;
}

.arrow:hover {
	cursor: pointer;
}

.score	{
	text-align: center;
	font-weight: bold;
}

.liked {
	color: orange;
}

.unliked {
	color: black;
}

.disliked {
	color: blue;
}

.song {
	display: none;
}

.show-video {
	margin: 2px;
	height: 30px;
	display: inline;
}

.show-video:hover {
	cursor: pointer;
}

.logo {
	height: 70px;
}

.username {
	text-align: center;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    width: 15px;
    text-align: right;
    display: block;
    position: absolute;
    right: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: absolute;
    display: inline;
    right: 25px;
    transform: translateY(-30px);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 0px;
    right: 17px;
    height: 80px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    opacity: .6;
}

h3 {
	display: inline-block;
}



@keyframes fade-in {
	from {opacity:0;}
	to   {opacity:1;}
}

@keyframes slide-in {
	from {transform: translate(-50%,-200%);}
	to   {transform: translate(-50%,-50%);}
}

.login-background {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	animation: fade-in;
	animation-duration: .6s;
}

.login {
	position: absolute;
	background-color: white;
	border-radius: 8px;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	animation: slide-in;
	animation-duration: .6s;
}

.login-container {
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: space-around;
}

hr {
	margin: -20px -40px;
}

.col {
	display: inline;
	margin: 0px;
}

h2 {
	color: black;
	text-align: center;
	margin-bottom: 4px;
}

.login input {
	margin: 3px;
	border: 1px solid #ccc;
	padding: 2px;
	border-radius:4px;
}

button {
	border: 1px solid grey;
	border-radius: 4px;
	padding: 1em;
	background-color: white;
	color: grey;
	transition-duration: .2s;
}

button:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
	text-decoration: none;
	color: orange;
}

