<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
</head>
<body>
	<form action="/posts/new" method="POST">
		<input type="text" name="title" placeholder="Title" required>
		<input type="text" name="desc" placeholder="Description">
		<input type="text" name="link" placeholder="URL" required>
		<input type="submit" value="Post!">
	</form>
</body>
</html>